@import 'components/button';

$font-size: 1rem;
$font-color: lch(28 99 35);

html {
  font-size: $font-size;
  color: $font-color;
}

.name {
  user-select: none;
}

.link {
  display: flex;
  text-decoration: none;
  color: $font-color;

  &:hover {
    text-decoration: underline;
    background-color: bisque;
  }
}

.icon-phone {
  width: 2.5 * $font-size;
  height: 2.5 * $font-size;
}

.phone-number {
  font-size: 2.4 * $font-size;
}

.icon {
  width: 4 * $font-size;
  height: 4 * $font-size;
}

.custom-svg {
  stroke: rgb(255, 0, 0);
  stroke-width: 2px;
  fill: rgb(255, 251, 0);
}

.address {
  font-size: 3 * $font-size;
}
