include components/button.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='index.css')
    title= 'Быстрый запуск Pug'
  body
    h1.name= 'Код написан в шаблонизаторе Pug!'
    +button()